
h1{
    text-align: center;
    text-transform: uppercase;
}


h3{
    margin-top: 120px;
}





.navbar ul{
    list-style: none;
    background-color: #235347;
    padding: 5px;
    margin: 22px;
    overflow: hidden;
    text-align: center;
    
    
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    width:100px;
    text-align: center;
    
}
.navbar a:hover{
    background-color: darkgray;
}
.navbar li{
    display: inline-block;
}






.container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    
}

.card-image {
    background-color: aqua;
    height: 170px;
    margin-bottom:15px;
    background-size: cover;
    border-radius: 15px 15px 0 0 ;
    
}

.car-1 {
    background-image: url(images/anti.jpeg);
}

.car-2 {
    background-image: url(images/bubble.jpeg);
}

.car-3 {
    background-image: url(images/clinique.png);
}

.car-4 {
    background-image: url(images/beent.jpeg);
}

.card h2{
    padding:10px;
}

.card p{
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align-last: center;
    margin: 20px 50px;
}










    

    









    




    

        
    


