body{
    margin: 0;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

h3{
    margin-top: 120px;
}



p{
    margin-top: 50px;
    margin-right: 70px;
}
.navbar ul{
    list-style: none;
    background-color: #235347;
    padding: 5px;
    margin: 22px;
    overflow: hidden;
    text-align: center;
    
    
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    width:100px;
    text-align: center;
    
}
.navbar a:hover{
    background-color: darkgray;
}
.navbar li{
    display: inline-block;
}

img{
    float: left;
    margin-right: 70px;
    margin-top: 80px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    vertical-align: middle;
    margin-left: 60px;
    
    
   
        
    
    }
.wrapper{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20rem;
}
.intro {
    flex: 1;
    
}



footer{
    padding-bottom: 200px;
    margin-top: 80px;
    text-align-last: center;
}